<section class="task-list" cdkDropListGroup>
  <div class="simple-card" *ngFor="let item of board ; let indexColumn = index" >
    <mat-card >
        <div class="title-card">
          <mat-card-title>{{ item.name}} ({{item.count}})</mat-card-title>
          <button mat-icon-button (click)="removeColumn(indexColumn)"><mat-icon style="color: #f99e98">delete</mat-icon></button>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="item.task"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let column of item.task; ; let indexItem = index" cdkDrag>
            {{ column }}
            <button mat-icon-button (click)=" removeItem(indexItem,indexColumn)" ><mat-icon style="color: #f99e98">delete</mat-icon></button>
          </div>
        </div>
        <div class="input-add">
          <mat-form-field class="example-full-width">
            <input #itemAdd matInput  placeholder="New Job" (keydown.enter)="addJob(itemAdd,item.name)" />
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="addJob(itemAdd,item.name)">Add</button>
        </div>

    </mat-card>
  </div>
  <div class="simple-card">
    <div class="input-add">
      <mat-form-field class="example-full-width">
        <input #inputColumn matInput placeholder="New List" (keydown.enter)="addColumn(inputColumn)" />
      </mat-form-field>

      <button (click)="addColumn(inputColumn)"  mat-raised-button color="primary" style="background-color: #374eae">
        <mat-icon>add</mat-icon> Add
      </button>
    </div>

  </div>
</section>