<div style="height: 50px;">
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
        <mat-card style="width: 20%; background-color: aliceblue;">
            <mat-card-header style="justify-content: space-between;">
                <mat-card-title> TODO(3) </mat-card-title>
                <mat-icon style="color: pink;">delete</mat-icon>
            </mat-card-header>
            <mat-card-content>
                <div style="border-style: groove;">
                    Learn Angular Material
                </div>
                <div style="border-style: groove;">
                    Code Kanban Board App
                </div>
                <div style="border-style: groove;">
                    Code final project
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="New Job">
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="float: right;margin-top: 10px;">Add</button>
                </div>

            </mat-card-content>
        </mat-card>
        <mat-card style="width: 20%; background-color: aliceblue;">
            <mat-card-header style="justify-content: space-between;">
                <mat-card-title> DOING(1) </mat-card-title>
                <mat-icon style="color: pink;">delete</mat-icon>
            </mat-card-header>
            <mat-card-content>
                <div style="border-style: groove;">
                    Learn Angular
                </div>

                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="New Job">
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="float: right;margin-top: 10px;">Add</button>
                </div>

            </mat-card-content>
        </mat-card>
        <mat-card style="width: 20%; background-color: aliceblue;">
            <mat-card-header style="justify-content: space-between;">
                <mat-card-title> DONE (7) </mat-card-title>
                <mat-icon style="color: pink;">delete</mat-icon>
            </mat-card-header>
            <mat-card-content>
                <div style="border-style: groove;">
                    Learn HTML basic
                </div>
                <div style="border-style: groove;">
                    Learn CSS basic
                </div>
                <div style="border-style: groove;">
                    Learn javascript basic
                </div>
                <div style="border-style: groove;">
                    Code Example Image Gallery
                </div>
                <div style="border-style: groove;">
                    Learn Javascrip DOM
                </div>
                <div style="border-style: groove;">
                    Code Example Calculator App
                </div>
                <div style="border-style: groove;">
                    Learn Responsive Web Design
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="New Job">
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="float: right;margin-top: 10px;">Add</button>
                </div>

            </mat-card-content>
        </mat-card>
        <mat-card style="width: 20%; background-color: aliceblue;">
            <mat-card-header>
                <mat-card-title> </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="New Job">
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="float: right;margin-top: 10px;">
                        <mat-icon>add</mat-icon>Add
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>